*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    height:100vh;
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mainhead{
    width: 100%;
    height: 40vh;
    justify-content: space-around;
    /*align-items: center;*/
    display: flex;
    
}

.mainhead .logos img{
    width: 260px;
    height: 260px;
    transition: 0.4s;
    position: relative;
}

.mainhead .logos:hover img{
    transform: scale(1.4);
}

.mainhead .bar1 a{
    text-decoration: none;
    font-size: larger;
    margin-left: 100px;
    margin-right: 10px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    /*font-style: italic;*/
    position: relative;
    
}

.mainhead .bar1 a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 170px;
    transition: 0.5s;
}

.mainhead .bar1 a:hover::after{
    width: 100%;
}

.mainhead .bar1{
    width: 325px;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 100px;
}

.mainhead .bar2 a{
    text-decoration: none;
    font-size: larger;
    margin-right: 100px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    position: relative;
}

.mainhead .bar2 a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 170px;
    transition: 0.5s;
}

.mainhead .bar2 a:hover::after{
    width: 100%;
}

.mainhead .bar2{
    width: 325px;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 100px;
}

#about{
    display: inline-block;
}

.welcome{
    text-align: center;

}

.welcome .one{
    color:wheat;
    font-style: italic;
    word-spacing: 20px;
    font-size: 70px;
    font-weight: lighter;
}

.welcome .two{
    margin-top: 30px;
    font-size: 40px;
    color: wheat;
    text-transform: uppercase;
}

.choose{
    align-content: space-around;
    margin-top: 40px;
    margin-left: 650px;
}

.choose .b1{
    padding:10px 10px 10px 10px;
    font-size: medium;
    margin-right: 10px;
    color:wheat;
    background-color: transparent;
    cursor: pointer;
    border:2px solid white;
    border-radius: 25px;
}

.choose .b2{
    padding:10px 10px 10px 10px;
    font-size: medium;
    margin-left: 10px;
    color:wheat;
    background-color: transparent;
    cursor: pointer;
    border:2px solid white;
    border-radius: 25px;
}

.menu{
    margin-top: 130px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 1000px;
}

.menu .cards{
    height: 510px;
    width: 350px;
    /*background: #2d1e13;*/
    border-radius: 30px;
    border: 2px solid wheat;
    backdrop-filter: blur(5px);
    margin-bottom: 200px;
    transition: 0.4s;
}

.menu .cards:hover{
    transform: scale(1.2);
    z-index: 1000;
}

.menu .cards2{
    height: 540px;
    width: 350px;
    /*background: #2d1e13;*/
    border-radius: 30px;
    border: 2px solid wheat;
    backdrop-filter: blur(5px);
    margin-bottom: 200px;
    transition: 0.4s;
}

.menu .cards2:hover{
    transform: scale(1.2);
    z-index: 1000;
}


.menu .cards .name , 
    .menu .cards2 .name {
    color: white;
    font-size: 38px;
    font-style: italic;
    margin-top: 10px ;
    text-transform: uppercase;
}

.menu .cards .photo img,
.menu .cards2 .photo img
{
    width: 260px;
    height: 190px;
    border-radius: 50%;
    margin-top: 35px;
}

.menu .cards .content,.menu .cards2 .content{
    text-align: center;
    font-size: 18px;
    color: wheat;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    font-style: italic;
    line-height: 25px;
    
}

.heading{
    margin-top: 180px;
    text-align: center;
    font-size: 55px;
    color: wheat;
    font-style: italic;
    
}

.menu .cards .order , 
.menu .cards2 .order
{
    margin-top: 20px;
    
}

.menu .cards .order button, 
.menu .cards2 .order button
{
    padding: 10px ;
    background: transparent;
    border-radius: 25px;
    border: 2px solid wheat;
    color: white;
    cursor: pointer;
}